
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;;
    z-index: 1;
    top: 74px;
    left: 0;
    background-color: rgb(20, 53, 104);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #0086c4;
    display: block;
  }
  
  .sidenav a:hover {
    color: #ffffff;
  }
