<div *ngIf="!isAuth">
    <app-login-page></app-login-page>
</div>



<div *ngIf="isAuth">
    <p-confirmDialog #cd [style]="{width: '20vw'}" [baseZIndex]="10000">
        <ng-template pTemplate="header">
            <h3>Delete Product</h3>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" styleClass="p-button-outlined p-button-secondary" label="No" (click)="cd.reject()"></p-button>
            <p-button icon="pi pi-check" styleClass="p-button-raised p-button-success" label="Yes" (click)="cd.accept()"></p-button>
        </ng-template>
    </p-confirmDialog>
    <div class="sidenav">
        <a routerLink="/users-page" class="btn1"><span class="pi pi-users" style="font-size: 30px;"></span> Users</a>
        <a routerLink="/supplier-page" class="btn2"><span class="pi pi-truck" style="font-size: 30px;"></span> Suppliers</a>
        <a routerLink="/" class="btn3"><span class="pi pi-box" style="font-size: 30px;"></span> Products</a>
        <a routerLink="/orders-page" class="btn4"><span class="pi pi-list" style="font-size: 30px;"></span> Orders</a>
    </div>

    <div class="content">
        <div class="title">PRODUCTS</div>
        <div class="table">
            <p-table [value]="products" 
                [tableStyle]="{ 'width': '100%' }"
                [paginator]="true"
                [rows]="8"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                >
                <ng-template pTemplate="caption">
                        <div class="flex" style="position: relative;margin-left: 72%;">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search" (click)="search(s.value)"></i>
                                <input #s type="text" placeholder="Search Product" pInputText (keyup.enter)="search(s.value)" [value]="searchTerm"/>
                            </span>
                        </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10%;">No.</th>
                        <th style="width: 15%;">Name</th>
                        <th style="width: 15%;">Supplier</th>
                        <th style="width: 10%;">Weight</th>
                        <th style="width: 10%;">Quantity</th>
                        <th style="width: 40%;">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-i="rowIndex">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.supplier }}</td>
                        <td>{{ product.weight }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <p-button  class="btn" label="ADD TO BAG" styleClass="p-button-outlined" (click)="addToBag(product)"></p-button>
                            <p-button  *ngIf="isAdmin" class="btn" icon="pi pi-user-edit" styleClass="p-button-outlined p-button-success"  (click)="openEditPrForm(product)" ></p-button>
                            <p-button  *ngIf="isAdmin" class="btn" icon="pi pi-trash" styleClass="p-button-outlined p-button-danger" (click)="confirm(product.id)"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button *ngIf="isAdmin" type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="openAddEditPrForm()"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright"></ng-template>
            </p-table>
        </div>
    </div>
</div>
