<div class="sidenav">
  <a routerLink="/users-page" class="btn1"><span class="pi pi-users" style="font-size: 30px;"></span> Users</a>
  <a routerLink="/supplier-page" class="btn2"><span class="pi pi-truck" style="font-size: 30px;"></span> Suppliers</a>
  <a routerLink="/" class="btn3"><span class="pi pi-box" style="font-size: 30px;"></span> Products</a>
  <a routerLink="/orders-page" class="btn3"><span class="pi pi-list" style="font-size: 30px;"></span> Orders</a>
</div>


<div class="content">
  <div class="title">Bag</div>
    <ul class="products">
      <li *ngFor="let bagItem of bag.items" class="product">
        <div class="info">
          <a>
            Product: {{bagItem.product.name}}
          </a>
        </div>
        <div class="info">
            <a>
                Quantity: {{bagItem.product.bagQuantity}}
            </a>
        </div>
        <div class="remove_btn">
          <p-button  label="Remove" styleClass="p-button-outlined p-button-danger p-button-sm" (click)="removeFromBag(bagItem)">
          </p-button>
        </div>
      </li>
    </ul>

    <div>
        <div class="total">Total products: {{bag.totalCount}}
        <p-button  class="send_btn" label="Send" styleClass="p-button-outlined p-button-success" (click)="sendTheOrder()"></p-button>
        </div>
        <!--<div>Total Quantity of products: {{bag.totalBagQuantity}}</div>-->
    </div>
</div>
