<div class="sidenav">
    <a routerLink="/users-page" class="btn1"><span class="pi pi-users" style="font-size: 30px;"></span> Users</a>
    <a routerLink="/supplier-page" class="btn2"><span class="pi pi-truck" style="font-size: 30px;"></span> Suppliers</a>
    <a routerLink="/" class="btn3"><span class="pi pi-box" style="font-size: 30px;"></span> Products</a>
    <a routerLink="/orders-page" class="btn4"><span class="pi pi-list" style="font-size: 30px;"></span> Orders</a>
</div>

<div class="content">
    <div class="title">ORDERS</div>
    <div class="table">
        <p-table [value]="orders" 
            [tableStyle]="{ 'width': '100%' }"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            >
            <ng-template pTemplate="caption" >
                <div class="flex" style="position: relative;margin-left: 72%;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search" (click)="search(s.value)"></i>
                        <input #s type="text" placeholder="Search Supplier" pInputText (keyup.enter)="search(s.value)" [value]="searchTerm"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>No.</th>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order let-i="rowIndex">
                <tr>
                    <td style="width: 10%;">{{ i + 1 }}</td>
                    <td style="width: 60%;">{{ order.user }}</td>
                    <td>
                        <p-button  class="btn" label="View Order" styleClass="p-button-outlined" (click)="viewOrder(order)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorright"></ng-template>
        </p-table>
    </div>
</div>


