header{
    position: relative;
    height: 90%;
    width: 98.5%;
    background: #f9f9f9;
    padding: 0;
    border: 1px solid rgb(20, 53, 104);
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 15px;
  }
  
  a{
    color: rgb(20, 53, 104);
  }
  
  a:hover{
    color: #0086c4;
  }
  
  .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  a.logo{
    font-weight: bold;
    padding: 1rem;
    font-size:2rem;
  }
  
  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  ul a{
    padding: 1rem;
    display: inline-block;
    font-size:2rem;
  }
  
  a span{
    background: #0086c4;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size:0.9rem;
  }
  
  .menu-container{
    position: relative;
  }
  
  .menu{
    position:absolute;
    z-index:1;
    background:whitesmoke;
    display: none;
  }
  
  .menu-container:hover .menu{
    display: block;
  }
  
  .menu a{
    width: 100%;
    min-width:8rem;
  }

  .admin{
    font-weight: thin;
    color: rgb(132, 132, 132);
    font-size: 15px;
    text-align: center;
    padding-top: 27px;
  }