<header *ngIf="isAuth">
    <div class="container">
        <a *ngIf="isAuth" routerLink="/" class="logo">Apotheke.</a>
        <nav>
            <ul>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <div *ngIf="isAdmin" class="admin">
                    Admin
                </div>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li *ngIf="isAuth">
                    <a routerLink="/bag-page">
                        Bag <span>{{bagQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
