<div mat-dialog-title>
    <h1 class="title">Order</h1>
</div>
<div class="table">
    <p-table [value]="products" 
        [tableStyle]="{ 'width': '100%' }"
        [paginator]="true"
        [rows]="4"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 10%;">No.</th>
                <th style="width: 15%;">Product name</th>
                <th style="width: 20%;">Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright"></ng-template>
    </p-table>
</div>

<div mat-dialog-actions align="end">
    <p-button class="btn1" label="OK" styleClass="p-button-outlined p-button-success" [mat-dialog-close]="false"></p-button>
</div>
