
.container{
    background-image: url("../../../../assets/images/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 16%;
}

.grid {
    position: relative;
    width: 30%;
    background: #0000007b;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin-left: 35%;
}

.logo{
    font-size: 40px;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
    color: rgb(255, 255, 255);
}

.reset{
    margin-left: 39%;
    margin-top: 10%;
    margin-bottom: 4%;
}
.reset a{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.717);
}

.reset a:hover{
    color: #b53fff;
}


div.field {
    padding-bottom: 25px;
}

div.col-2 {
    position: relative;
    margin-left: 24%;
}

.or{
    margin-left: 34%;
    color: rgba(255, 255, 255, 0.672);
}

.login {
    margin: auto;
    max-width: 85%;
    margin-top: 5%;
    margin-bottom: 10%;
}

div.signup {
    position: relative;
    padding-top: 10%;
    margin-left: 38%;
}

label.labels{
    font-size: large;
    font-weight: thin;
    color: rgb(255, 255, 255);
}

div.error-list {
    color: red;
}

