
<div class="grid">
    <div class="col-5">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="p-fluid">
            <div class="field">
                <label class="labels">Username</label>
                <input pInputText type="text" placeholder="Email" formControlName="email"/>
                <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                    <div *ngIf="fc.email.errors.required">Should not be empty</div>
                    <div *ngIf="fc.email.errors.email">Email is not correct</div>
                </div>
            </div>

            <div class="field">
                <label class="labels">Password</label>
                <input pInputText type="password" placeholder="Password" formControlName="password"/>
                <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                    <div *ngIf="fc.password.errors.required">Should not be empty</div>
                </div>
            </div>

            <p-button label="Login" type="submit"></p-button>
        </div>
    </form>
    </div>
    <div class="col-2">
        <p-divider layout="vertical">
            <b>OR</b>
        </p-divider>
    </div>
    <div class="signup">
        <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
    </div>
</div>