<div class="sidenav">
    <a href="/users-page" class="btn1"><span class="pi pi-users" style="font-size: 30px;"></span> Users</a>
    <a href="/supplier-page" class="btn2"><span class="pi pi-truck" style="font-size: 30px;"></span> Suppliers</a>
    <a href="/" class="btn3"><span class="pi pi-box" style="font-size: 30px;"></span> Products</a>
</div>

<div class="content">
    <div class="title">SUPPLIERS</div>
    <div class="table">
        <p-table [value]="suppliers" 
            [tableStyle]="{ 'width': '100%' }"
            [paginator]="true"
            [rows]="8"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            >
            <ng-template pTemplate="caption" >
                <div class="flex" style="margin-left: 82%;">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search" (click)="search(s.value)"></i>
                        <input #s type="text" placeholder="Search Supplier" pInputText (keyup.enter)="search(s.value)" [value]="searchTerm"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-supplier>
                <tr>
                    <td style="width: 25%;">{{ supplier.id }}</td>
                    <td style="width: 25%;">{{ supplier.name }}</td>
                    <td style="width: 25%;">{{ supplier.code }}</td>
                    <td>
                        <p-button  class="btn" label="Products" styleClass="p-button-outlined"></p-button>
                        <p-button  class="btn" icon="pi pi-user-edit" styleClass="p-button-outlined p-button-success"></p-button>
                        <p-button  class="btn" icon="pi pi-trash" styleClass="p-button-outlined p-button-danger"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button *ngIf="isAdmin" type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="openAddEditPrForm()"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright"></ng-template>
        </p-table>
    </div>
</div>

